
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>Bienvenue!</h2>
    <p>The best place to be</p>

    <a href="/" class="btn btn-lg btn-primary">Discord</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  Page d'accueil
</div>
