
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>Bienvenue sur <bold>Instinct!</bold></h2>
    <p>Rejoins dès maintenant notre discord !</p>

    <a href="https://discordapp.com/invite/HJ32uyr" class="btn btn-lg btn-primary">Discord</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  Page d'accueil
</div>
